*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/backimg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.head{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.9rem;
    padding: 1rem 0;
    margin: 0.3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

#logo{
    font-size: 1.5rem;
    color: #ffb700;
    border-bottom: 2.5px solid;
}

.links{
    margin-left: 5rem;
    padding: 10px;
    font-size: 1.5rem;
}

#logo1{
    width: 18px;
    height: 18px;
}

.active{
    color: green;
}

.menu{
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5px;
    font-size: 3.5rem;
    color: #fff;
}

#nav{
display: none;
}

@media screen and (max-width:720px){
.head{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0;
    height: 0;
    overflow: hidden;
}
.links{
    margin-left:0;
    margin-top: 50px;
    padding: 10px;
}
.menu{
    display: block;
}
.menu #close-icon{
    display: none;
}

}
@media (min-width:721px) and (max-width:992px){
    .links{
    margin-left: 1rem;
}
}


@media screen and (min-width:1200px){
#logo{
    font-size: 1.5rem;
    margin-right: 12rem;
}
}

.links:hover:not(.active){
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    color: #00d4ff;
    transition: 0.8s;
    transform: scale(1.2);
    border-bottom: 3px solid;
}

#nav:checked~.menu #menu-icon {
    display: none;
}
#nav:checked~.menu #close-icon {
    display: block;
}

#nav:checked~.container{
    height: 30rem;
    width: 100%;
    background-color: rgba(0,0,0,1);
    border-radius: 20px;
}

                                                    /*main content*/
.sec{
    min-height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header{
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 40px;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3,400px);
    gap: 20px;
}
.projects div{
    text-align: center;
}
.projects h3{
    color: #fff;
    margin-bottom: 15px;
}
.projects img{
    width: 400px;
    height: 250px;
}
.projects button{
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,1);
    margin-top: 10px;
}

.projects div:hover{
    transform: scale(1.07);
    transition: 0.5s;
}
.projects div button:hover{
    background-color: #00d4ff;
    border-radius: 20px;
}
@media screen and (max-width:720px){
.projects{
    display: grid;
    grid-template-columns: repeat(1, 250px);
    gap: 20px;
}
.projects img{
    width: 250px;
}
.sec{
    min-height: 400vh;
}

}
@media (min-width:721px) and (max-width:1240px){
.projects{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
}
.projects img{
    width: 350px;
    height: 250px;
}
.sec{
    min-height: 210vh;
}
.links{
margin-left: 0.5rem;
}
}
                                                    /*Footer*/
footer{
display: flex;
justify-content: center;
}
footer a{
    margin: 20px;
}

#copyright{
    display: flex;
    justify-content: center;
    color: #fff;
}
